---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

import bgImage from "../public/background-1.jpg";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout header>
  <div class="container">
    <div class="hero">
      <p class="main-title">Alejandro Gimenez</p><br />
      <p class="main-p">
        Web Developer in training, focused on crafting responsive and
        user-friendly websites. Always learning, always evolving.
      </p>
      <button class="hire-me"><a href="#" class="center">HIRE ME</a></button>
    </div>
  </div>
  <div class="courses">
    <div class="list-a">
      <ul class="list-b">
        <li>
          <h2>UTN Course</h2>
          <img src="/public/media/front-end.jpg" alt="front-end" />
          <button><a href="#">+info</a></button>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, quis
            hic veniam nisi excepturi provident laudantium ratione laborum odit
            qui eaque voluptates id nesciunt, nulla quam officiis, omnis nemo
            optio?
          </p>
        </li>
        <li>
          <h2>HTML and CSS</h2>
          <img src="/public/media/css.avif" alt="" />
          <button><a href="#">+info</a></button>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
            vitae veniam, similique sapiente numquam suscipit eius aliquam quia
            aspernatur beatae minima! Minima deleniti eveniet repellat
            voluptatibus? Iusto repudiandae beatae similique.
          </p>
        </li>
        <li>
          <h2>html</h2>
          <img src="/public/media/full-stack.jpg" alt="full-stack" />
          <button><a href="#">+info</a></button>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
            vitae veniam, similique sapiente numquam suscipit eius aliquam quia
            aspernatur beatae minima! Minima deleniti eveniet repellat
            voluptatibus? Iusto repudiandae beatae similique.
          </p>
        </li>
      </ul>
      </div>
    </div>
  </div>
  <div class="contact">
    <h2>//contact-me</h2>

    <div class="form-a">
      <form action="#" method="POST">
        <label
          >Name:
          <input
            type="text"
            name="name"
            class="form-input"
            placeholder="Your name"
            required
          />
        </label>
        <br />

        <label
          >Last Name:
          <input
            type="text"
            name="Last-name"
            class="form-input"
            placeholder="Last-name"
            required
          />
        </label>
        <br />

        <label
          >E-mail:
          <input
            type="email"
            name="email"
            class="form-input"
            placeholder="Your E-mail"
            required
          />
        </label>
        <br />

        <label
          >Phone Number:
          <input
            type="tel"
            name="telefono"
            class="form-input"
            placeholder="Your Phone Number"
            pattern="[0-9]{10}"
            title="Debe contener 10 dígitos numéricos"
          />
        </label>
        <br />

        <button type="submit">Enviar</button>
      </form>
    </div>
  </div>
</Layout>

<style>
  .container {
    height: 90vh;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("/media/hero.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
  }
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .main-title {
      padding: 10px;
      font-size: 6rem;
      text-align: center;
      line-height: 80px;
    }
    .main-p {
      font-size: 1rem;
      text-align: center;
      max-width: 300px;
      margin: auto;
    }
    .hire-me {
      text-align: center;
      display: block;
      margin: auto;
      margin-top: 30px;
    }
    .list-a {
      margin-top: 15px;
      text-align: center;
      display: flex;
      flex-direction: column;
    }
    .list-b p {
      display: none;
    }
    .list-b ul li {
      margin: 20, 0;
    }
   .list-b img {
      min-width: 430px;
      max-height: 215px;
    }
  h2 {
    color: white;
  }
  .form-input {
    padding: 10px;
    min-width: 300px;
    max-width: 320px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
  }
  form {
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    min-width: 300px;
    max-width: 430px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    box-sizing: border-box;
    background-color: #555;

  }
  .form-a {
    display: flex;
    justify-content: center;
    
  }
  .contact {
    height: 80vh;
  }
  .contact 
    h2 {
      text-align: center;
      padding: 10px;
      padding-top: 60px;
  }
</style>
