<div class="container">
  <div class="hero">
    <p class="main-title">Alejandro Gimenez</p><br />
    <p class="main-p">
      Web Developer in training, focused on crafting responsive and
      user-friendly websites. Always learning, always evolving.
    </p>
    <button class="hire-me"><a href="#" class="center">HIRE ME</a></button>
  </div>
</div>
<style>
  .container {
    height: 90vh;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("/media/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .main-title {
    padding: 10px;
    font-size: 6rem;
    text-align: center;
    line-height: 80px;
  }
  .main-p {
    font-size: 1rem;
    text-align: center;
    max-width: 300px;
    margin: auto;
  }
  .hire-me {
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 30px;
  }
</style>
