<footer>
  <div class="container">
    <p>© ProgramaYa 2021</p>
  </div>
</footer>

<style>
  footer p {
    margin: 0;
    color: rgb(100, 100, 100);
  }
  footer .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 50px;
    padding: 12px;
  }
</style>
