<header>
  <div class="container">
     <a href="/" class="logo">Alejandro Gimenez</a>
    <nav>
      <a href="/#somos-proya"> // about-me</a>
      <a href="/#nuestros-programas">// expertise</a>
      <a href="/experience">// experience</a>
      <a href="/contact">// Contact</a>
    </nav>
  </div>
</header>

<style>
  header {
    background-color: rgb(46, 48, 59);
  }
  header .logo {
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin: 5px 15px;
    font-size: 2em;
  }
  header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header nav {
    display: flex;
    text-align: center;
    padding-bottom: 10px;
  }

  header a {
    font-size:13px;
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
  }
  header a:hover {
    color: rgb(127, 32, 216);
  }

  @media (min-width: 957px) {
    header {
      top: 0;
      position: sticky;
      width: 100%;
    }
    header .container {
      flex-direction: row;
      justify-content: space-between;
    }
    header .nav {
      flex-direction: row;
      padding-bottom: 0;
      padding-right: 20px;
    }
  }
</style>
