---
import '../styles/global.css'
import MainNav from '../components/MainNav.astro'
import MainFooter from '../components/MainFooter.astro'


const {header=true} = Astro.props 
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    {header?<MainNav />:null}
		

		<slot />
		<MainFooter />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
